doctype
html(lang="en")
	head
		title Fvaldez Law
		meta(name="viewport", content="width=device-width, initial-scale=1")

		link(rel="stylesheet" href="css/bootstrap.css")
		link(rel="stylesheet" href="css/font-awesome.css")
		link(rel="stylesheet" href="css/animate.min.css")
		link(rel="stylesheet" href="css/owl.carousel.css")
		link(rel="stylesheet" href="css/owl.transitions.css")
		link(rel="stylesheet" href="css/owl.theme.css")
		link(rel="stylesheet" href="main.css")
	body
		.feature-bg.parallax-window(data-image-src="http://s20.postimg.org/ayzi2c3ct/hero.jpg",data-parallax="scroll")
			.feature-gradient.container-fluid(style="padding-top:50px;")
				.container
					.row
						.col-md-12(style="padding-left: 0px; padding-right: 0px;")
							nav.site-navigation.navbar.navbar-default.navbar-fixed-top(role="navigation")
								div.container
									.row
										.col-md-5.col-sm-12.col-xs-7#masthead
											.logo-area
												img.img-responsive.hidden-xs.home(src="img/logo-fvaldez.png", alt="")
												p.text-center.header-logo-text
													span.t-fade F
													span.t-white VALDEZ
													span.t-fade LAW
													span.t-white.hidden-xs  PC
										.col-md-7.col-sm-12.col-xs-5
											div.navbar-header
												button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
													span.sr-only Toggle navigation
													span.icon-bar
													span.icon-bar
													span.icon-bar


											div.collapse.navbar-collapse.navbar-right(id="bs-example-navbar-collapse-1")
												ul.nav.navbar-nav.home-nav
													li.active
														a(href="/src/") Home
													li.separator.hidden-xs
													li
														a(href="/src/about.html") About
													li.separator.hidden-xs
													li
														a(href="/src/services.html") Services
													li.separator.hidden-xs
													li
														a.dropdown-toggle(href="#", data-toggle="dropdown") News
														ul.dropdown-menu(role="menu")
															li
																a(href="#") Sub 1
															li
																a(href="#") Sub 2
													li.separator.hidden-xs
													li
														a(href="/src/virtual.html") Virtual Office


				div.container.no-padding
					div#homejb

						h2.wow.animated.fadeInUp Serving individuals, investors, and employers worldwide. 
						p.wow.animated.fadeInUp FValdezLaw PC has the experience to provide quality  immigration law services to clients all over the world.  FValdezLaw PC is based in Houston, Texas.  Our use of web based applications also gives FValdezLaw the ability and agility to serve clients  online in their own homes and workplaces throughout the United States and beyond.  Whether you are looking for a traditional legal office or you want to break down barriers and go virtual, please contact us so that we can help.  
						a.btn.btn-secondary.scroll-link.wow.animated.fadeInUp(href="#solutions", role="button") Learn More

				div.container.home-contact
					div.row
						div.col-lg-12.col-md-12.wow.animated.fadeInUp
							include contact.jade
